<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Admin Login</title>
</head>
<body>
  <h3>🪶 Admin Login</h3>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% for cat,msg in messages %}
      {{ msg }}
    {% endfor %}
  {% endwith %}

  <form method="POST" action="{{ url_for('admin_bp.login') }}">
    {{ form.hidden_tag() }}
    {{ form.username.label }} {{ form.username }}
    {{ form.password.label }} {{ form.password }}
    {{ form.submit() }}
  </form>
</body>
</html>

